<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body class="background_login">

<section class="empty-layout">
	<form class="card auth-card">
	  <div class="card-content">
	    <span class="card-title">Увійти Losev Formulas</span>
	    <div class="input-field">
	      <input
	          id="email"
	          type="text"
	          class="validate"
	      >
	      <label for="email">E-mail</label>
	      <small class="helper-text invalid">E-mail</small>
	    </div>
	    <div class="input-field">
	      <input
	          id="password"
	          type="password"
	          class="validate"
	      >
	      <label for="password">Пароль</label>
	      <small class="helper-text invalid">Password</small>
	      <i class="toggle-password fas fa-eye-slash" onclick="togglePassword()"></i>
	    </div>
	  </div>
	  <div class="card-action">
	    <div class="butt_login">
	      <button
	          class="btn waves-effect waves-light auth-submit"
	          type="submit"
	      >
	        Увійти
	      </button>
	    </div>

	    <p class="center under_butt_auth">
	      Немає аккаунту?
	      <a href="#">Зареєстурватися</a>
	    </p>
	  </div>
	</form>
</section>
	

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  function togglePassword() {
    var passwordInput = document.getElementById('password');
    var toggleIcon = document.querySelector('.toggle-password');
    
    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      toggleIcon.classList.replace('fa-eye-slash', 'fa-eye'); // Змінюємо іконку
    } else {
      passwordInput.type = "password";
      toggleIcon.classList.replace('fa-eye', 'fa-eye-slash'); // Змінюємо іконку
    }
  }
</script>
</body>
</html>